
.swiper {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
    padding: 0.5rem;
  }

  /* COLOR FOR ARROWS */
  .swiper-button-next, .swiper-button-prev, .swiper-pagination {
  z-index: 10;
}
  .swiper-button-next, .swiper-button-prev {
    background-color: white;
    color: black;
    padding: 20px;
    border: 2px solid black;
    border-radius: 50%;
    opacity: 1;
  }
  .swiper-button-next:hover, .swiper-button-prev:hover {
    opacity: 0.8;
  }
  .swiper-button-next:active, .swiper-button-prev:active {
    opacity: 1;
  }
  .swiper-button-next::after, .swiper-button-prev::after  {
    font-size: 1.5rem;
  }
  