
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  /* COLOR FOR ARROWS */
  .swiper-button-next, .swiper-button-prev, .swiper-pagination {
  z-index: 10;
}

  .swiper-button-next, .swiper-button-prev {
    background-color: white;
    color: black;
    padding: 20px;
    border: 2px solid black;
    border-radius: 50%;
    opacity: 1;
  }
  .swiper-button-next:hover, .swiper-button-prev:hover {
    opacity: 0.7;
  }
  .swiper-button-next:active, .swiper-button-prev:active {
    opacity: 1;
  }
  .swiper-button-next::after, .swiper-button-prev::after  {
    font-size: 1.5rem;
  }

  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  .project-images {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    border-radius: 15px;
  }