* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: black;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.project-container {
  margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 2rem;
}
.project-container .project-grid {
  display: grid;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
}
.project-container .project-grid .project-images {
  /* width: 250px; */
  width: 100%;
  max-width: 300px;
  height: auto;
  /* height: 175px; */
  border-radius: 10px;
  border-color: 1px solid black;
  margin: auto;
}
.transparent-container {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 5px;
  margin: 1rem;
}

.centerContainer {
  display: flex;
  justify-content: center;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
}

.intro-background .intro-container .socialmedia {
  margin-right: 2rem;
  color: white;
}
.intro-background .intro-container .socialmedia:hover {
  opacity: 0.85;
  color: #ddafdd;
  box-shadow: 0 0 10px;
}


@media only screen and (max-width: 900px) {
  .title {
    font-size: 1.25em;
  }
  .flower {
    display: none;
  }
}
@media only screen and (max-width: 696px) {
  .intro-container {
    font-size: 1rem;
    padding: 0;
    flex-direction: column;
    height: 0;
  }
  .intro-container .socialmedia {
    margin-right: 0.25rem;
    height: 25px;
    width: 25px;
  }
  .icons {
    width: 30px;
    height: 30px;
  }
  .nickname {
    display: none;
  }
  .project-images {
    width: 150px;
    height: 150px;
  }
  .project-container .subsize {
    display: none;
  }
  .project-container .codelink {
    font-size: 0.75rem;
  }
}
@media only screen and (max-width: 450px) {
  .socialmedia,
  .icons {
    width: 25px;
    height: 25px;
  }
  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
